body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: #e7e7e7;
}

.view {
    width: 1024px;
    margin: 0 auto;
}

.card {
    background: #fff;
    border-radius: 2px;
    width:700px;
    margin: 25px auto 30px auto;
    position:fixed;
    left:400px;

}

.card .content {
    padding: 30px;
}

.card h1 {
    color: #555;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    background: #03A9F4;
    color: #f8f8f8;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.side {
    position: fixed;
    left:100px;
    width: 200px;
    padding-right: 10px;
    top: 0;
    color: #e3f2fd;
}

.side ul {
    list-style-type: square;
    padding-left: 20px;
}

.side ul li {
    /*margin-bottom: 8px;*/
}





.code pre, .code pre code {
    border: none;
    font-size: 12px;
    margin-top: 0;
}

.side h2 {
    font-weight: bold;
}

table {
    margin: 0 auto;
}

th {
    border-bottom: 1px solid #ddd;
}

td, th {
    padding: 5px;
    min-width: 120px;
}

label {
    display: inline-block;
    min-width: 100px;
    text-align: right;
    margin-right: 10px;
}

form {
    width: 300px;
    margin: 0 auto;
}

form div {
    margin: 5px 0;
}

input[type="submit"] {
    display: block;
    margin: 15px auto 0;
}

.fit {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.shadow {
    box-shadow:
        0 2px 5px 0 rgba(0, 0, 0, 0.26),
        0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

#footer {
    text-align: center;
    font-size: 10px;
    color: #777;
    margin: 30px 10px 10px;
}
.parameter{
width:300px;

  position: fixed;
left:25px;
  top: 280px;
  border-radius: 0px;


}
.button_temp{
  background-color: #03A9F4;
	color: white;
  top:680px;
  left:300px;

  display: inline-block;
	position: fixed;

}
.clickbtn{
  top:680px;
  left:250px;
  position: fixed;
  background-color: #03A9F4;
  color: white;

  font-family: sans-serif;
  text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 10px;
  padding: 7px 16px;
}


.buttonDownload {
	display: inline-block;
	position: fixed;
  top:680px;
	padding: 10px 25px;
  left:70px;
	background-color: #03A9F4;
	color: white;

	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #333;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;

	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;

	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #03A9F4;
}

.buttonDownload:hover:after {
	border-top-color: #03A9F4;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}

	0.001% {
		margin-top: -15px;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		margin-top: 0;
		opacity: 0;
	}
}

.pt-3-half {
padding-top: 1.4rem;
}
.button-1{
  background-color:#FFFF7B;
  width: 23px;
  height: 23px;
  border: 1px solid #111;
  border-radius: 12px;
  margin: 5px 8px;
  display: inline-block;

}
.button-2{
  background-color:#F44336;
  width: 23px;
  height: 23px;
  border: 1px solid #111;
  border-radius: 12px;
  margin: 5px 8px;
  display: inline-block;

}
.button-3{
  background-color:#8BC34A;
  width: 23px;
  height: 23px;
  border: 1px solid #111;
  border-radius: 12px;
  margin: 5px 8px;
  display: inline-block;

}
.button-4{
  background-color:#29B6F6;
  width: 23px;
  height: 23px;
  border: 1px solid #111;
  border-radius: 12px;
  margin: 5px 8px;
  display: inline-block;

}
.button-5{
  background-color:#A569BD;
  width: 23px;
  height: 23px;
  border: 1px solid #111;
  border-radius: 12px;
  margin: 5px 8px;
  display: inline-block;

}
.button-6{
  background-color:#FF00FF;
  width: 23px;
  height: 23px;
  border: 1px solid #111;
  border-radius: 12px;
  margin: 5px 8px;
  display: inline-block;

}
.button-7{
  background-color:#FF9933;
  width: 23px;
  height: 23px;
  border: 1px solid #111;
  border-radius: 12px;
  margin: 5px 8px;
  display: inline-block;

}
